<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@alexwlchan" />
    <meta name="twitter:title" content="Specktre wallpaper generator" />
    <meta name="twitter:description" content="Take a regular tiling of the plane, then apply a random colouring. Voila: wallpaper image." />
    <meta name="twitter:image" content="https://alexwlchan.net/specktre_ZGIV7gd2aeMTo44jbot5SCMIq1/static/twitter_card.png" />

    <title>Specktre</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link href="{{ url_for('static', filename='specktre.css' )}}" rel="stylesheet">
    <style>{{ css }}</style>

    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
  </head>

  <body>

    <div class="container content">

      {% block content %}{% endblock %}

      <footer>
        <hr>
        <p>Written by <a href="http://www.alexwlchan.net">Alex Chan</a>. Code <a href="https://github.com/alexwlchan/specktre">on GitHub</a>.</p>
      </footer>

    </div>

  </body>
</html>